EXPAND_S3_KEY=
EXPAND_S3_SECRET=
EXPAND_S3_FOLDERS=sil-appbuilder-secrets/SOME_KEY/|/usr/share/jenkins/secrets

# BuildEngine configuration
BUILD_ENGINE_REPO_URL=ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/ci-scripts-SOME_KEY
BUILD_ENGINE_REPO_BRANCH=master
# SSH Key ID of user associated in IAM with the SSH Key in sil-appbuilder-secrets/SOME_KEY/buildengine_api/ssh
# This is required for git repositories hosted by AWS CodeCommit
BUILD_ENGINE_GIT_SSH_USER=

# For development environment using vagrant, use:
#APPBUILDER_JENKINS_URL=http://192.168.70.241:8080
APPBUILDER_JENKINS_URL=
APPBUILDER_JENKINS_ADMIN_EMAIL=appbuilder_buildagent@sil.org
